on: [push, pull_request]



jobs: build
  steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    with:
      node-version: '16'
      check-latest: true
    - run: npm install
    - run: npm test
